/* importation de font "OSWALD" */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: rgb(206, 89, 0);
    border-radius: 10px;
    margin-right: 3px;
    cursor: pointer;
  }
  ::-webkit-scrollbar-track {  
    background: #f1f1f1; 
  } 
  html{
    scroll-behavior: smooth;
  }

  /* style de la barre de scrolle */
  .scroller{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 1000;
    background: linear-gradient(to right, rgb(29, 198, 213) 100%, rgba(255,148,166,0) 100%);
    background-repeat: no-repeat;
    background-size: 0;
    transform-origin: left;
    animation: scroll linear;
    animation-timeline: scroll();
    animation-range-start: cover 100px;
    animation-range-end: cover 100%;
}

@keyframes scroll{
    from{
        background-size: 0% 5px;
    }
    to{
        background-size: 100% 5px;
    }
}

/* style de la partie de la barre de navigation */

*,::after,::before{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}  

nav{
    height: 10vh;
    position: sticky;
    top: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px 100px;
    background: rgb(5, 5, 76);
    justify-content: space-between;
    box-shadow: 1px 1px 3px #110016ed;
    z-index: 5;
}
nav .nav-name{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav .nav-name img{
    width: 40px;
    margin-right: 10px;
}
nav .nav-name h3{
    font-size: 1.5rem;
    color: #fff;
}
nav .nav-name h3 span{
    color: rgb(206, 89, 0);
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    margin-left: 25px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
nav ul li a:hover{
    color: rgb(206, 89, 0);
    transition: .3s;
}
nav .hire-btn{
    width: 20vh;
    height: 6vh;
    /* background: #000; */
    border-radius: 30px;
    border: 1px solid #fff;
}
nav .hire-btn button{
    z-index: 1;
}
nav .hire-btn button:hover{
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    color: rgb(5, 5, 76);
}

nav .hire-btn button{
    position: relative;
    cursor:pointer;
    z-index: 1;
    width: 20vh;
    height: 100%;
    background: transparent;
    color: #fff;
    border-radius: 30px;
    outline: none;
    font-weight: 600;
    border: none;
}
nav .hire-btn button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 30px;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
nav .hire-btn button:hover::before{
    width: 100%;
}
nav .hamburger, .menu-btn{
    display: none;
}
/* style de la partie d'accueil */

#home{
    height: 80vh;
    background-image: linear-gradient(to right, #240048ed, #110016ed);
    padding: 50px 100px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* style de la partie left sous element de home */
#home .left{
    width: 50%;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
/* Apparition de l'element */
#home .left.visible {
    opacity: 1;
    transform: translateX(0);
  }
  /* Disparition de l'element */
#home .left.hidden {
    opacity: 0;
    transform: translateX(-50px);
}
#home .left h2{
    font-size: 2rem;
}
#home .left h3{
    font-size: 1.3rem;
}
#home .left h2, p{
    margin: 10px 0px;
}
#home .left span{
    color: rgb(206, 89, 0);
}
#home .left .socio-media{
    display: flex;
    margin: 15px 0px;
}
#home .left .socio-media .media {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid #fff;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;
}
#home .left .socio-media .media img{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1rem;
    align-items: center;
    text-align: center;
}
#home .left .socio-media .media img:hover{
    transform:rotate(15deg);
    transition: .3s;
}
#home .left button{
    width: 30vh;
    height: 7vh;
    border: none;
    outline: none;
    border-radius: 6px;
    background: rgb(206, 89, 0);
    margin-top: 20px;
    text-align: center;
}
#home .left button:hover{
    background: rgb(151, 66, 0);
    cursor: pointer;
    transition: .3s;
}
#home .left button a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

/* style de la partie right sous element de home */
#home .right{
    width: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
/* Apparition de l'element */
#home .right.visible {
    opacity: 1;
    transform: translateX(0);
  }
  /* Disparition de l'element */
#home .right.hidden {
    opacity: 0;
    transform: translateX(50px);
}
#home .right img{
    width: 75vh;
    height: 75vh;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}
#home .right img:hover{
    animation: img-rotate 20s linear infinite;
    cursor: pointer;
}

@keyframes img-rotate{
    from{
        transform: rotate(0def);
    }
    to{
        transform: rotate(360deg);
    }
}

/* style de la partie About */
#about{
    height: 85vh;
    background: rgb(5, 5, 76);
    align-items: center;
    text-align: center;
    padding: 20px 150px;
    color: #fff;
}
#about h2{
    position: relative;
}
#about h2 span{
    color: rgb(206, 89, 0);
}
#about h2::after{
    content: '';
    align-items: center;
    text-align: center;
    margin-left: 42.5%;
    height: 3px;
    display: block;
    background: #fff;
    width: 15%;
}

#about .about-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

/* style de la partie about qui conerne l'image */
#about .about-data .cont-img{
    width: 50vh;
    height: 67vh;
    overflow: hidden;
    background: rgb(206, 89, 0);
    background-image: linear-gradient(to top , rgb(206, 89, 0), rgb(5, 5, 76));
    border-radius: 6px;
    padding: 0px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
/* Apparition de l'element */
#about .about-data .cont-img.visible {
    opacity: 1;
    transform: translateY(0);
  }
  /* Disparition de l'element */
#about .about-data .cont-img.hidden {
    opacity: 0;
    transform: translateY(-50px);
}
#about .about-data .cont-img img{
    width: 100%;
    height: 100%;
}

/* style de la partie about qui conerne le texte */
#about .about-data .cont-data{
    width: 60%;
    height: 100%;
    text-align: justify;
    font-family: "Oswald", serif;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
/* Apparition de l'element */
#about .about-data .cont-data.visible {
    opacity: 1;
    transform: translateY(0);
  }
  /* Disparition de l'element */
  #about .about-data .cont-data.hidden {
    opacity: 0;
    transform: translateY(50px);
}

#about .about-data .cont-data h3{
    margin-bottom: 30px;
}
#about .about-data .cont-data strong{
    color: rgb(206, 89, 0);
    font-weight: 600;
}

/* style de la partie SERVICES */

#services{
    height: 85vh;
    background: #240048ed;
    align-items: center;
    text-align: center;
    padding: 20px 150px;
    color: #fff;
}
#services h2{
    position: relative;
}
#services h2 span{
    color: rgb(206, 89, 0);
}
#services h2::after{
    content: '';
    align-items: center;
    text-align: center;
    margin-left: 42.5%;
    height: 3px;
    display: block;
    background: #fff;
    width: 15%;
}
#services .cont-services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8%;
}
#services .cont-services .service{
    width: 28%;
    border-radius: 6px;
    padding: 10px 15px;
    color: rgb(5, 5, 76);
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(50px);
    
}
#services .cont-services .service:nth-child(1){
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#services .cont-services .service:nth-child(2){
    transition: opacity 0.6s ease, transform 0.6s ease;
}
#services .cont-services .service:nth-child(3){
    transition: opacity 0.9s ease, transform 0.9s ease;
}
/* Apparition de l'element */
#services .cont-services .service.visible {
    opacity: 1;
    transform: translateY(0);
  }
  /* Disparition de l'element */
#services .cont-services .service.hidden {
    opacity: 0;
    transform: translateY(50px);
}
#services .cont-services .service:hover{
    transition: .5s ease-in-out;
    transform: scale(1.02);
    cursor: pointer;

}
#services .cont-services .service img{
    width: 70px;
}

#services .cont-services .service h3{
    color: rgb(206, 89, 0);
}


/* style de la partie SKILLS */

#skills{
    height: 85vh;
    background: rgb(5, 5, 76);
    align-items: center;
    text-align: center;
    padding: 20px 150px;
    color: #fff;
}
#skills h2{
    position: relative;
}
#skills h2 span{
    color: rgb(206, 89, 0);
}
#skills h2::after{
    content: '';
    align-items: center;
    text-align: center;
    margin-left: 42.5%;
    height: 3px;
    display: block;
    background: #fff;
    width: 15%;
}

#skills .container-element{
    margin-top: 5%;
    width: 100%;
    display: block;
}
#skills .container-element .element{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#skills .container-element .element .langage{
    width: 20vh;
    text-align: left;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
/* Apparition de l'element */
#skills .container-element .element .langage.visible {
    opacity: 1;
    transform: translateX(0);
  }
  /* Disparition de l'element */
  #skills .container-element .element .langage.hidden {
    opacity: 0;
    transform: translateX(50px);
}
#skills .container-element .element .cont-progress{
    width: 100vh;
    height: 14px;
    background: #8f8f8f7b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 5%;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
#skills .container-element .element .cont-progress.visible {
    opacity: 1;
    transform: translateX(0);
  }
  /* Disparition de l'element */
  #skills .container-element .element .cont-progress.hidden {
    opacity: 0;
    transform: translateX(-50px);
}
#skills .container-element .element .cont-progress .progress{
    height: 8px;
    border-radius: 10px;
    background: rgb(206, 89, 0);
}
#skills .container-element .element .cont-progress .html{
    width: 87%;
}
#skills .container-element .element .cont-progress .css{
    width: 70%;
}
#skills .container-element .element .cont-progress .js{
    width: 69%;
}
#skills .container-element .element .cont-progress .php{
    width: 65%;
}
#skills .container-element .element .cont-progress .mysql{
    width: 73%;
}
#skills .container-element .element .cont-progress .sql{
    width: 60%;
}
#skills .container-element .element .cont-progress .sass{
    width: 70%;
}
#skills .container-element .element .cont-progress .git{
    width: 80%;
}
#skills .container-element .element .cont-progress .bootstrap{
    width: 60%;
}
#skills .container-element .element .pourcent{
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
#skills .container-element .element .pourcent.visible {
    opacity: 1;
    transform: translateX(0);
  }
  /* Disparition de l'element */
#skills .container-element .element .pourcent.hidden {
    opacity: 0;
    transform: translateX(-50px);
}

/* style de la partie PORTFOLIO */

#portfolio{
    height: 85vh;
    background: #240048ed;
    align-items: center;
    text-align: center;
    padding: 20px 150px;
    color: #fff;
    justify-content: center;
}
#portfolio h2{
    position: relative;
}
#portfolio h2::after{
    content: '';
    align-items: center;
    text-align: center;
    margin-left: 42.5%;
    height: 3px;
    display: block;
    background: #fff;
    width: 15%;
}

#portfolio .container{
    width: 100%;
    display: grid;
    gap: 10px;
    display: flex;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
#portfolio .container .folio{
    width: 42vh;
    height: 30vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    justify-content: center;
    opacity: 0;
    transform: translateY(-50px);
}
#portfolio .container .folio:nth-child(1), .folio:nth-child(5){
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#portfolio .container .folio:nth-child(2), .folio:nth-child(6){
    transition: opacity 0.5s ease, transform 0.5s ease;
}
#portfolio .container .folio:nth-child(3), .folio:nth-child(7){
    transition: opacity 0.7s ease, transform 0.7s ease;
}
#portfolio .container .folio:nth-child(4), .folio:nth-child(8){
    transition: opacity 0.9s ease, transform 0.9s ease;
}
/* Aparition de l'element */
#portfolio .container .folio.visible {
    opacity: 1;
    transform: translateX(0);
  }
  /* Disparition de l'element */
  #portfolio .container .folio.hidden {
    opacity: 0;
    transform: translateX(-50px);
}
#portfolio .container .folio:hover{
    cursor: pointer;
    transition: .5s;
    transform: scale(1.05);
}
#portfolio .container .folio img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
} 


/* style de la partie PORTFOLIO */
#contact{
    height: 60vh;
    background: rgb(5, 5, 76);
    align-items: center;
    text-align: center;
    padding: 20px 150px;
    color: #fff;
    justify-content: center;
}
#contact h2{
    position: relative;
}
#contact h2 span{
    color: rgb(206, 89, 0);
}
#contact h2::after{
    content: '';
    align-items: center;
    text-align: center;
    margin-left: 42.5%;
    height: 3px;
    display: block;
    background: #fff;
    width: 15%;
}

#contact .container{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#contact .container .mail, .maps, .call{
    width: 50vh;
    display: block;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
}
#contact .container .mail{
    transform: translateY(-50px);
}
/* Aparition de l'element */
#contact .container .mail.visible {
    opacity: 1;
    transform: translateY(0);
  }
  /* Disparition de l'element */
  #contact .container .mail.hidden {
    opacity: 0;
    transform: translateY(-50px);
}
#contact .container .maps{
    transform: translateY(50px);
}
/* Aparition de l'element */
#contact .container .maps.visible {
    opacity: 1;
    transform: translateY(0);
  }
  /* Disparition de l'element */
  #contact .container .maps.hidden {
    opacity: 0;
    transform: translateY(50px);
}
#contact .container .call{
    transform: translateY(50px);
}
/* Aparition de l'element */
#contact .container .call.visible {
    opacity: 1;
    transform: translateY(0);
  }
  /* Disparition de l'element */
  #contact .container .call.hidden {
    opacity: 0;
    transform: translateY(-50px);
}
#contact .container .mail img, .maps img, .call img{
    width: 70px;
    margin-bottom: 10px;
}

/* style de la partie FOOTER */
footer{
    height: 8vh;
    background: #240048ed;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 10px 0px 0px 0px;
    justify-content: center;
    font-weight: 200;
    font-size: 0.8rem;
}

/* style d bouton qui sert qui monter directement au dessus de la page */
.page-up{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(206, 89, 0);
    text-align: center;
    border-radius: 50px;
    position: fixed;
    z-index: 10;
    float: right;
    bottom: 80px;
    right: 30px;
}
.page-up a{
    color: rgb(206, 89, 0);
    font-size: 1.2rem;
}
.page-up:hover, a:hover{
    transition: .3s;
    color: #fff;
}
.page-up:hover{
    transition: .3s;
    border: 2px solid #fff;
}


























/* ============================================================================================ */
/* =================== MEDIA QUERIES POUR LES ECRANS DE 720pixels MAX ========================= */
/* ============================================================================================ */

@media screen and (max-width: 720px){
    /* menu hamburger */
    nav{
        height: 8vh;
        padding: 0px 25px;
        overflow: visible;
    }
    nav .nav-name img{
        width: 35px;
    }
    nav .nav-name h3{
        font-size: 1.3rem;
    }
    nav .hire-btn{
        display: none;
        position: relative;
        top: 50vh;
        right: 15%;
    }
    nav .hire-btn.showBtn{
        display: block;
    }
    nav ul{
        width: 95%;
        display: block;
        position: absolute;
        top: 100%;
        left: -100%;
        padding: 10px 0px 60px 25px;
        background: rgba(4, 4, 65, 0.71);
        backdrop-filter: blur(6px);
        box-shadow: -4px -1px 2px #fff;
    }
    nav ul.active{
        display: block;
        position: absolute;
        top: 100%;
        left: 0%;
        padding: 10px 0px 60px 25px;
        background: rgba(4, 4, 65, 0.71);
        backdrop-filter: blur(6px);
        box-shadow: -4px -1px 2px #fff;
    }
    nav ul li{
        margin: 25px;
    }
    nav  .menu-btn{
        display: none;
    }
    nav .hamburger{
        width: 35px;
        height: 35px;
        display: block;
    }
    nav .hamburger .box{
        width: 100%;
        height: 5px;
        border-radius: 5px;
        margin: 4px auto;
        background: #fff;
        cursor: pointer;
        transition: .5s;
    }
    nav .hamburger.active .box:nth-child(1){
        position: relative;
        transform: rotate(45deg);
        top: 9px;
    }
    nav .hamburger.active .box:nth-child(2){
        display: none;
    }
    nav .hamburger.active .box:nth-child(3){
        transform: rotate(-45deg);
        
    }

    /* pour la partie home ou accueil */
    #home{
        height: auto;
        margin-top: 0px;
        padding: 50px 20px 30px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    /* style de la partie left sous element de home */
    #home .left{
        width: 100%;
    }

    #home .left .socio-media{
        margin: 20px 0px 10px 80px ;
    }
    #home .left button{
        width: 25vh;
        height: 6vh;
    }
    /* style de la partie right sous element de home */
    #home .right{
        width: 100%;
        padding: 0px 50px 0px 0px;
        margin-bottom: 25px;
    }
    #home .right img{
        width: 40vh;
        height: 40vh;
        margin-right: 50px;
    }

    /* style de la partie About */
    #about{
        height: auto;
        padding: 20px;
    }
    #about .about-data{
        flex-direction: column;
    }
    /* style de la partie about qui conerne l'image */
    #about .about-data .cont-img{
        width: 40vh;
        height: 50vh;
        object-fit: cover;
    }
    /* style de la partie about qui conerne le texte */
    #about .about-data .cont-data{
        padding-top: 30px;
        width: 100%;
    }
    #about .about-data .cont-data h3{
        text-align: center;
    }

    /* style de la partie SERVICES */
    #services{
        height: auto;
        padding: 20px 20px;
    }
    #services .cont-services{
        flex-direction: column;
    }
    #services .cont-services .service{
        width: 92%;
        margin-bottom: 15px;
    }
    
    /* style de la partie SKILLS */
    #skills{
        height: auto;
        padding: 20px;
    }
    #skills .container-element .element .langage{
        width: 30vh;
        font-size: 12px;
    }

    /* style de la partie PORTFOLIO */

    #portfolio{
        height: auto;
        padding: 35px;
    }
    #portfolio .container .folio{
        width: 100%;
        height: 35vh;
        margin-top: 10px;
    }

    /* style de la partie PORTFOLIO */
    #contact{
        height: auto;
        padding: 20px;
    }

    #contact .container{
        flex-direction: column;
    }
    #contact .container .mail, .maps, .call{
        width: 100%;
        margin: 25px auto;
    }
    #contact .container .mail img, .maps img, .call img{
        width: 35px;
        margin-bottom: 10px;
    }
    #contact .container .mail img{
        position: relative;
        left: 32%;
        bottom: 10px;
    }
    /* style de la partie FOOTER */
    footer{
        height: auto;
        padding: 10px ;
    }

    /* style d bouton qui sert qui monter directement au dessus de la page */
    .page-up{
        width: 30px;
        height: 30px;
        border: 2px solid rgb(206, 89, 0);
        text-align: center;
        border-radius: 50px;
        position: fixed;
        z-index: 10;
        float: right;
        bottom: 70px;
        right: 10px;
    }
    .page-up a{
        color: rgb(206, 89, 0);
        font-size: 1.2rem;
    }
    .page-up:hover, a:hover{
        transition: .3s;
        color: #fff;
    }
    .page-up:hover{
        transition: .3s;
        border: 2px solid #fff;
    }

    
    
    








}